{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <h1>Liste des participants</h1>

    <table class="table">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Prénom</th>
                <th>Nom</th>
                <th>Entreprise</th>
                {#<th>actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                {#<td>{{ participant.id }}</td>#}
                <td>{{ participant.name }}</td>
                <td>{{ participant.lastname }}</td>
                <td>{{ participant.company }}</td>
                <td>
                    <a href="{{ path('participant_show', {'id': participant.id}) }}">Détail</a>
                    <a href="{{ path('participant_edit', {'id': participant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('participant_new') }}">Créer nouveau participant</a>
{% endblock %}
