{% extends 'base.html.twig' %}

{% block title %}Tous les services{% endblock %}

{% block body %}
    <div class="container">
    <div class="row justify-content-between">
    <h1 class="mb-5">Tous les services</h1>
    </div>
        <table class="table mt-5">
            <thead class="thead bg-primary">
            <tr class="text-center">
                <th class="text-white">Nom de l'evenement</th>
                <th class="text-white">Type d'evenement</th>
                <th class="text-white">Voir toutes les editions</th>
                <th class="text-white">Modifier</th>
                <th class="text-white">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
            <tr class="text-center">
                <td>{{ service.title }}</td>
                <td>{{ service.type }}</td>
                <td>
                    <a href="{{ path('service_show', {'id': service.id}) }}"><i class="fas fa-eye"></i></a>
                </td>
                <td><a href="{{ path('service_edit', {'id': service.id}) }}"><i class="fas fa-edit"></i></a></td>
                <td>{{ include('service/_delete_form.html.twig') }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('service_new') }}"><button type="button" class="btn bg-primary text-white">Ajouter un nouveau service</button></a>
    </div>
{% endblock %}
