{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="container-fluid container-good">
        <div class="container mb-4">
            <div class="row justify-content-center">
                <h2 class="pl-2 mt-5">Questionnaire de satisfaction : </h2>
            </div>
            <hr>
            <p>Le LAB'O vous remercie de votre participation à l'événement ### du ###. Pour vous proposer des événements de qualité nous souhaitons avoir votre ressenti sur ceux-ci.
                Nous vous remercions pour vos réponses. </p>
            <p class="mt-4">L'équipe LAB'O</p>
            <hr>
            {{ form_start(form) }}
            <h4 class="mt-5 mb-3">Avez-vous appréciez cet événement ?</h4>
            {{ form_widget(form.satisfactionRatio) }}
            <h4 class="mt-5 mb-3">Quelles améliorations suggéreriez-vous ?</h4>
            {{ form_widget(form.amelioration) }}
            <h4 class='mt-5 mb-3'>Cet événement vous a-t'il permis d'élargir votre réseau ?</h4>
            {{ form_widget(form.eventElarge) }}
            <h4 class="mt-5 mb-3">Combien de contact avez-vous pu établir lors de cet événement ? </h4>
            {{ form_widget(form.contact) }}
            <h4 class="mt-5 mb-3">Comment avez-vous connu l'existence de cet événement ? </h4>
            {{ form_widget(form.existance) }}
            <h4 class="mt-5 mb-3">Commentaire</h4>
            {{ form_widget(form.comment) }}
            <div class="row justify-content-center">
                <div class="col-10 col-md-3">
                    <button class="btn btn-primary mt-4 mb-1 mb-4">{{ button_label|default('Envoyer ces informations') }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}