{% extends 'base.html.twig' %}

{% block title %}StartUp index{% endblock %}

{% block body %}
    <h1>Liste des start-up</h1>

    <table class="table">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Nom de l'entreprise</th>
                <th>Nom du dirigeant</th>
                <th>Adresse</th>
                <th>Numéro de téléphone</th>
                <th>Email</th>
                <th>Date de création</th>
                <th>Numéro siret</th>
                <th>Effectif</th>
                <th>Activité</th>
                <th>Propriété intellectuelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for start_up in start_ups %}
            <tr>
                {#<td>{{ start_up.id }}</td>#}
                <td>{{ start_up.nomEntreprise }}</td>
                <td>{{ start_up.nomDirigeant }}</td>
                <td>{{ start_up.adresse }}</td>
                <td>{{ start_up.phoneNumber }}</td>
                <td>{{ start_up.email }}</td>
                <td>{{ start_up.fondationDate ? start_up.fondationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ start_up.siretNumber }}</td>
                <td>{{ start_up.workerNumber }}</td>
                <td>{{ start_up.activity }}</td>
                <td>{{ start_up.intellectualProperty }}</td>

                <td>
                    <a href="{{ path('start_up_show', {'id': start_up.id}) }}">Détail</a>
                    <a href="{{ path('start_up_edit', {'id': start_up.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('start_up_new') }}">Créer une nouvelle star-up</a>
{% endblock %}
