{% extends 'base.html.twig' %}

{% block title %} Partenaires  {% endblock %}

{% block body %}
    <div class="container">
        <h1>Partenaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre d'événements</th>
                <th>Nombre d'apport de partenaires</th>
                <th>Contact dans l'entreprise</th>
                <th>Numéro de téléphone</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for internal_partner in internal_partners %}
            <tr>
                <td>{{ internal_partner.name }}</td>
                <td>{{ internal_partner.EventCount }}</td>
                <td>{{ internal_partner.partnerIntake }}</td>
                <td>{{ internal_partner.contact }}</td>
                <td>{{ internal_partner.phoneNumber }}</td>
                <td>{{ internal_partner.email }}</td>
                <td>
                    <a href="{{ path('internal_partner_show', {'id': internal_partner.id}) }}">Détails</a>
                    <a href="{{ path('internal_partner_edit', {'id': internal_partner.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('internal_partner_new') }}">Ajouter un partenaire</a>
    </div>
{% endblock %}
